.toolBar {
    text-align: center;
}

.listCenter {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.borderless {
    border: none;
}
/* .toolBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
} */
